/* Base
 ========================================================================== */

html {
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
 * Navbar
 */

.tm-navbar {
    padding: 15px 0;
    border: none;
    background: #fff;
}

.tm-navbar-brand {
	width: 160px;
	height: 40px;
	background: url("logo.svg") center no-repeat;
}

.tm-navbar-brand-off {
	display: inline-block;
	width: 90px;
	height: 28px;
	background: url("logo.svg") center no-repeat;
	background-size: 90px 28px;
	vertical-align: middle;
}

.tm-navbar .uk-navbar-nav li a {
	box-shadow: none;
	border: none;
}

.tm-filter {
	padding: 20px 0;
	background: #f7f7f7;
}

.tm-filter-param {
	margin-right: 20px !important;
}

.tm-day {
	margin: 20px 0;
}